@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap');

body, html, #app {
    font-family: 'Nunito', sans-serif;
    font-weigth: 300;
    color: #000;
}

.font-semibold {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
